*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
}

main{
    height: 100vh;
    width: 100vw;
}

.header-div{
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.header-div h1{
    margin: 0;
    font-size: 3rem;
    font-weight: normal;
}

.content-div{
    display: flex;
    height: 90%;
}

.sidebar-div{
    background-color: antiquewhite;
    flex-grow: 1;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.new-book-info {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.new-book-info input {
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.new-book-info > div input[type="radio"]{
    margin: 0;
}

.new-book-submit{
    cursor: pointer;
    padding: 1rem 1.5rem;
    background-color: cadetblue;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.books-content-div{
    flex-grow: 2.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    overflow-y: scroll;
}

table, th, td {
    border: 1px solid black;
}

th{
    width: 120px;
    background-color: cadetblue;
    color: white;
    padding: 1rem;
}
